@font-face {
    font-family: 'maison_neue';
    src: url('../fonts/MaisonNeue/maisonneue-book-webfont.woff2') format('woff2'),
         url('../fonts/MaisonNeue/maisonneue-book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}