* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", sans-serif;
  color: #222222;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 960px;
  width: 100%;
}

.level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.level .flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.t-black {
  color: #222222;
}

.bg-white {
  background-color: #FFFFFF;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi9Vc2Vycy9qb3NlcGhzbWl0aC9TaXRlcy9zdGF0aWMtc3RhcnRlci9hc3NldHMvc2Nzcy9hcHAuc2NzcyIsIi9Vc2Vycy9qb3NlcGhzbWl0aC9TaXRlcy9zdGF0aWMtc3RhcnRlci9hc3NldHMvc2Nzcy91dGlscy9fdmFyaWFibGVzLnNjc3MiLCIvVXNlcnMvam9zZXBoc21pdGgvU2l0ZXMvc3RhdGljLXN0YXJ0ZXIvYXNzZXRzL3Njc3MvYmFzZS9fYmFzZS5zY3NzIiwiL1VzZXJzL2pvc2VwaHNtaXRoL1NpdGVzL3N0YXRpYy1zdGFydGVyL2Fzc2V0cy9zY3NzL2Jhc2UvX2hlbHBlcnMuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIvLyAxLiBDb25maWd1cmF0aW9uIGFuZCBoZWxwZXJzXG5AaW1wb3J0XG4gICd1dGlscy92YXJpYWJsZXMnO1xuXG4vLyAyLiBCYXNlIHN0eWxlc1xuQGltcG9ydFxuICAnYmFzZS9iYXNlJyxcbiAgJ2Jhc2UvaGVscGVycyc7XG4iLCIvLyBGb250c1xuJHRleHQtZm9udC1zdGFjazogJ0hlbHZldGljYScsIHNhbnMtc2VyaWYgIWRlZmF1bHQ7XG4kdGV4dC13ZWlnaHQtbGlnaHQ6IDMwMCAhZGVmYXVsdDtcbiR0ZXh0LXdlaWdodC1yZWd1bGFyOiA0MDAgIWRlZmF1bHQ7XG4kdGV4dC13ZWlnaHQtbWVkaXVtOiA1MDAgIWRlZmF1bHQ7XG4kdGV4dC13ZWlnaHQtYm9sZDogNzAwICFkZWZhdWx0O1xuXG5cbi8vIENvbG9yc1xuJHRleHQtYmxhY2s6ICMyMjIyMjIgIWRlZmF1bHQ7XG4kYmctd2hpdGU6ICNGRkZGRkYgIWRlZmF1bHQ7XG5cblxuLy8gV3JhcHNcbiR3cmFwOiA5NjBweCAhZGVmYXVsdDtcbiIsIioge1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5cbmh0bWwge1xuICBmb250LWZhbWlseTogJHRleHQtZm9udC1zdGFjaztcbiAgY29sb3I6ICR0ZXh0LWJsYWNrO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAkYmctd2hpdGU7XG4gIC13ZWJraXQtZm9udC1zbW9vdGhpbmc6IGFudGlhbGlhc2VkO1xufVxuIiwiLy8gR3JpZFxuLndyYXAge1xuICBtYXJnaW46IDAgYXV0bztcbiAgcGFkZGluZzogMCBhdXRvO1xuICBtYXgtd2lkdGg6ICR3cmFwO1xuICB3aWR0aDogMTAwJTtcbn1cblxuLy9GbGV4XG4ubGV2ZWwge1xuXHRkaXNwbGF5OiBmbGV4O1xuXG5cdC5mbGV4IHtcblx0XHRmbGV4OiAxO1xuXHR9XG59XG5cbi8vIENvbG9yc1xuLnQtYmxhY2sgeyBjb2xvcjogJHRleHQtYmxhY2sgfVxuLmJnLXdoaXRlIHsgYmFja2dyb3VuZC1jb2xvcjogJGJnLXdoaXRlIH1cbiJdLCJtYXBwaW5ncyI6IkFFQUEsQUFBQSxDQUFDLENBQUM7RUFDQSxNQUFNLEVBQUUsQ0FBRTtFQUNWLE9BQU8sRUFBRSxDQUFFO0VBQ1gsVUFBVSxFQUFFLFVBQVc7Q0FDeEI7O0FBRUQsQUFBQSxJQUFJLENBQUM7RUFDSCxXQUFXLEVETkssV0FBVyxFQUFFLFVBQVU7RUNPdkMsS0FBSyxFRENNLE9BQU87RUNBbEIsZ0JBQWdCLEVEQ1AsT0FBTztFQ0FoQixzQkFBc0IsRUFBRSxXQUFZO0NBQ3JDOztBQ1ZELEFBQUEsS0FBSyxDQUFDO0VBQ0osTUFBTSxFQUFFLE1BQU87RUFDZixPQUFPLEVBQUUsTUFBTztFQUNoQixTQUFTLEVGVUosS0FBSztFRVRWLEtBQUssRUFBRSxJQUFLO0NBQ2I7O0FBR0QsQUFBQSxNQUFNLENBQUM7RUFDTixPQUFPLEVBQUUsSUFBSztDQUtkOztBQU5ELEFBR0MsTUFISyxDQUdMLEtBQUssQ0FBQztFQUNMLElBQUksRUFBRSxDQUFFO0NBQ1I7O0FBSUYsQUFBQSxRQUFRLENBQUM7RUFBRSxLQUFLLEVGVEgsT0FBTztDRVNZOztBQUNoQyxBQUFBLFNBQVMsQ0FBQztFQUFFLGdCQUFnQixFRlRqQixPQUFPO0NFU3dCIiwibmFtZXMiOltdfQ== */